$body-bg: #fff;




@import '~bootstrap/scss/bootstrap.scss';

html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height:100px; }

footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;
}



/**
Chapternav
 */

.chapternav {
  background: rgba(245,245,247,0.7);
  padding: 0;
  padding-top: 10px;
  padding-bottom: 8px;
  text-align: center;
  height: 100px;
  z-index: 2;
  width: 100%;
  position: relative;
  overflow: hidden;



  .chapternav-wrapper {
    position: relative;
    height: 100%;
    z-index: 1;


    .chapternav-items {
      margin: 0;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      list-style: none;
      padding-bottom: 50px;

      .chapternav-item {
        display: inline-block;
        vertical-align: top;
        margin: 0 -.11765em;
        padding: 0 20px;

        .chapternav-link {
          color: #000;
        }

        .chapternav-label {
          font-size: 12px;
          line-height: 1.33337;
          font-weight: 400;
          letter-spacing: -.01em;
          display: block;
          margin: 0;
        }

        .chapternav-icon {
          background: center bottom no-repeat;
          display: block;
          margin: 0 auto 7px;
          height: 54px;
          width: 41px;
          background-size: 41px 54px;
          background-image: url('code.svg');
        }
      }
    }
  }
}
